%auth-modal-container {
    @apply fixed w-full h-screen flex items-center justify-center;
}

%auth-modal {
    @apply p-[2.4rem] rounded-[16px] w-full max-w-[48.7rem];
    background-color: $color-black;

}

%auth-modal__back-button {
    background-color: $color-dark-black;
    @apply w-[3.2rem] h-[3rem] rounded-[6px] flex items-center justify-center hover:scale-110 active:scale-90 transition-all cursor-pointer duration-200;
}

%auth-modal__header {
    @apply mt-[3.2rem] text-white;

}

%auth-modal__header__title {
    font-family: $font-neue-montreal;
    @apply text-[3.2rem] font-bold leading-[3.84rem] -tracking-[0.20000000298023224px] text-center;
}

%auth-modal__header__sub-title {
    font-family: $font-neue-montreal;
    @apply text-[1.8rem] leading-[2.16rem] -tracking-[0.001em] text-center mt-[1.2rem] text-[#8A8A8E];
}

%auth-modal__form {
    @apply mt-[3.2rem]
}

%auth-modal__form__input {
    background-color: $color-dark-black;
    font-family: $font-neue-montreal;
    @apply text-[1.6rem] font-medium leading-[1] -tracking-[0.001em] text-white w-full py-[2.4rem] px-[1.6rem] rounded-[8px];

    &::placeholder {
        color: #8A8A8E;
    }

    &:not(:first-of-type) {
        @apply mt-[16px];
    }
}

%auth-modal__form__button {
    @apply mt-[3.2rem];
}

%auth-modal__form__cta {
    @apply text-[1.6rem] mt-[1.2rem] text-center text-[#8A8A8E];

    .underline {
        color: white;
    }
}