.reset-password {
    &__password-requirements {
        @apply w-full rounded-[8px] px-[16px] py-[12px] mt-[1.6rem];
        background-color: $color-dark-black;

        &__parameter {
            @apply flex items-center;

            &__icon {
                fill: #1AA75D;
                @apply transition-all duration-200;

                &--inactive {
                    fill: #8A8A8E;
                }
            }

            &:not(:first-of-type) {
                @apply mt-[0.8rem];
            }

            &__text {
                @apply inline-block ml-[0.8rem] text-[1.4rem] font-normal leading-[1.68rem] text-white transition duration-200;

                &--inactive {
                    color: #8A8A8E;
                }
            }
        }
    }
}