.button {
    @apply w-full rounded-[0.8rem] text-white text-[1.8rem] font-medium leading-[2.16rem];
    font-family: $font-neue-montreal;
    background-color: $color-primary-pink;
    padding: 1.9rem;
}