.button {
    @apply w-full rounded-[0.8rem] text-white text-[1.8rem] font-medium leading-[2.16rem] active:scale-[0.98] disabled:hover:scale-100 disabled:opacity-70 transition-all duration-200 flex items-center justify-center;
    font-family: $font-neue-montreal;
    background-color: $color-primary-pink;
    padding: 1.7rem;

    &__loader {
        @apply w-[22px];
    }
}